<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string></string>
    <key>styleName</key>
    <string>WenQuanYiZenHei</string>
    <key>styleMapFamilyName</key>
    <string>文泉驛正黑</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>9</integer>
    <key>copyright</key>
    <string>Copyright (c) Qianqian Fang and WenQuanYi Board of Trustees

Version: 0.9
Codename: Fighting-State RC1</string>
    <key>trademark</key>
    <string>WenQuanYi</string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>ascender</key>
    <integer>819</integer>
    <key>descender</key>
    <integer>-205</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>2014/08/28 03:55:04</string>
    <key>openTypeHheaAscender</key>
    <integer>986</integer>
    <key>openTypeHheaDescender</key>
    <integer>-304</integer>
    <key>openTypeHheaLineGap</key>
    <integer>92</integer>
    <key>openTypeNameDesigner</key>
    <string>Qianqian Fang</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://nmr.mgh.harvard.edu/~fangq/</string>
    <key>openTypeNameManufacturer</key>
    <string>Qianqian Fang</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://wenq.org/</string>
    <key>openTypeNameLicense</key>
    <string>GPL2 with font embedding exception</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://www.gnu.org/copyleft/gpl.html</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.9.47</string>
    <key>openTypeNameUniqueID</key>
    <string>FontForge 2.0 : WenQuanYiZenHei : 15-9-2015</string>
    <key>openTypeNameDescription</key>
    <string>文泉驛正黑</string>
    <key>openTypeNameSampleText</key>
    <string>开彼源兮，斯流永继</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>5</integer>
      <integer>3</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>500</integer>
    <key>openTypeOS2VendorID</key>
    <string>WenQ</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>819</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-205</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>92</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>986</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>304</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>665</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>716</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>143</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>665</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>716</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>491</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>51</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>265</integer>
    <key>openTypeVheaTypoLineGap</key>
    <integer>92</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>5</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>28</integer>
      <integer>31</integer>
      <integer>32</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>36</integer>
      <integer>37</integer>
      <integer>38</integer>
      <integer>39</integer>
      <integer>40</integer>
      <integer>42</integer>
      <integer>43</integer>
      <integer>44</integer>
      <integer>45</integer>
      <integer>46</integer>
      <integer>48</integer>
      <integer>49</integer>
      <integer>50</integer>
      <integer>51</integer>
      <integer>52</integer>
      <integer>54</integer>
      <integer>55</integer>
      <integer>56</integer>
      <integer>57</integer>
      <integer>59</integer>
      <integer>60</integer>
      <integer>61</integer>
      <integer>65</integer>
      <integer>66</integer>
      <integer>68</integer>
      <integer>69</integer>
    </array>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>17</integer>
      <integer>18</integer>
      <integer>19</integer>
      <integer>20</integer>
      <integer>21</integer>
      <integer>29</integer>
      <integer>30</integer>
      <integer>48</integer>
      <integer>49</integer>
      <integer>50</integer>
      <integer>52</integer>
      <integer>54</integer>
      <integer>55</integer>
      <integer>57</integer>
      <integer>60</integer>
      <integer>62</integer>
      <integer>63</integer>
    </array>
    <key>postscriptFontName</key>
    <string>WenQuanYiZenHei</string>
    <key>postscriptFullName</key>
    <string>文泉驛正黑</string>
    <key>postscriptWeightName</key>
    <string>Medium</string>
    <key>postscriptUnderlineThickness</key>
    <integer>51</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-254</integer>
    <key>guidelines</key>
    <array/>
  </dict>
</plist>
